<!DOCTYPE html>
<html>
    <head>
        <title>Water Logger</title>
    </head>

    <body>
        <h1>Water Logger</h1>
        <p>Today's Total: {{.TotalToday}} oz</p>
        <form action="." method="post">
            Amount: <input type="text" name="amount" /> oz
            <button type="submit">Submit</button>
        </form>
    </body>
</html>